@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	width: 100%;
	overflow-x: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

::-webkit-scrollbar{
	background: white;
	width: 5px;
}

::-webkit-scrollbar-thumb{
	background-color: #f3471d;
	border-radius: 20px;
}